<footer class="bg-[#65ad8a] bg-opacity-90 text-white p-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <p class="mb-4 md:mb-0">&copy; 2025 Work with server. All rights reserved.</p>
        <div class="flex space-x-4">
            <a href="#" class="hover:text-gray-300 transition">
                <i class="fa-brands fa-facebook text-lg"></i>
            </a>
            <a href="#" class="hover:text-gray-300 transition">
                <i class="fa-brands fa-twitter text-lg"></i>
            </a>
            <a href="#" class="hover:text-gray-300 transition">
                <i class="fa-brands fa-instagram text-lg"></i>
            </a>
        </div>
    </div>
</footer>